<mat-toolbar>
  <span>Quatidian Store </span>
  <span class="space-buttons"></span>
  <button
    mat-stroked-button
    color="accent"
    *ngIf="!isLoggedIn()"
    routerLink="/login"
  >
    Login
  </button>
  <button
    mat-stroked-button
    color="accent"
    *ngIf="isLoggedIn()"
    (click)="logout()"
  >
    Logout
  </button></mat-toolbar
>

<mat-toolbar color="accent" *ngIf="isLoggedIn()">
  <button mat-raised-button="primary" routerLink="/">Home</button>
  &nbsp;
  <button *ngIf="!isAdmin()" mat-raised-button="primary" routerLink="/cart">
    Cart
  </button>
  <button *ngIf="!isAdmin()" mat-raised-button="primary" routerLink="/myOrders">
    My Orders
  </button>
  <button
    *ngIf="isAdmin()"
    mat-raised-button="primary"
    routerLink="/addNewProduct"
  >
    Add New Product
  </button>

  <button
    *ngIf="isAdmin()"
    mat-raised-button="primary"
    routerLink="/showProductDetails"
  >
    Show All Product Details
  </button>
</mat-toolbar>
