<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>userName</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="userName"
          id="userName"
          placeholder="Enter your username"
        />
        <mat-icon matSuffix>sentiment_very_satisfied </mat-icon>
        <mat-hint>userName</mat-hint>
      </mat-form-field>
      &nbsp;
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="Enter your password"
        />
        <mat-icon matSuffix>sentiment_very_satisfied </mat-icon>
        <mat-hint>Password</mat-hint>
      </mat-form-field>
      <hr />
      <br />
      <button class="w-100" mat-raised-button type="submit" value="Login">
        LOGIN
      </button>
    </form>
  </div>
  <br />
  <hr />
  <div class="text-center">
    <button
      (click)="registerUser()"
      class="w-20"
      mat-raised-button
      type="button"
    >
      create an account
    </button>
  </div>
</div>
