<div class="container mt-5" align="center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="All" (click)="getOrderDetails('All')"
      >All</mat-button-toggle
    >
    <mat-button-toggle value="Placed" (click)="getOrderDetails('Placed')"
      >Placed</mat-button-toggle
    >
    <mat-button-toggle value="Delivered" (click)="getOrderDetails('Delivered')"
      >Delivered</mat-button-toggle
    >
  </mat-button-toggle-group>

  <table
    mat-table
    [dataSource]="myOrderDetails"
    class="mat-elevation-z8 demo-table mt-3"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.orderFullName }}</td>
    </ng-container>
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.orderFullOrder }}</td>
    </ng-container>
    <ng-container matColumnDef="Contact NO.">
      <th mat-header-cell *matHeaderCellDef>Contact NO.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.orderContactNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.orderAmount }}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.orderStatus }}</td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          (click)="markAsDelivered(element.orderId)"
          *ngIf="element.orderStatus == 'Placed'"
        >
          Mark As Delivered
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
